In [41]:
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo

In [42]:
heart_disease = fetch_ucirepo(id=45)
X = pd.DataFrame(heart_disease["data"]["features"])
y = pd.DataFrame(heart_disease["data"]["targets"])
print(X.shape, y.shape)

(303, 13) (303, 1)

In [43]:
df = pd.concat([X, y], axis=1)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [44]:
df.to_csv("data/raw/heart_disease.csv", index=False)

In [26]:
for ind, row in df.iterrows():
    if row["num"] != 0:
        df.loc[ind, "num"] = 1
df.num.value_counts()

num
0    164
1    139
Name: count, dtype: int64

In [30]:
df["floor_age"] = 0
for ind, row in df.iterrows():
    floor_val = np.floor(row["age"] / 10) * 10
    df.loc[ind, "floor_age"] = floor_val
df.floor_age.value_counts()

floor_age
50    125
60     81
40     72
30     14
70     10
20      1
Name: count, dtype: int64

In [31]:
sex_dict = {1:"male", 0:"female"}
df["sex"] = df["sex"].map(sex_dict)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,floor_age
0,63,male,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0,60
1,67,male,4,160,286,0,2,108,1,1.5,2,3.0,3.0,1,60
2,67,male,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1,60
3,37,male,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0,30
4,41,female,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,male,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1,40
299,68,male,4,144,193,1,0,141,0,3.4,2,2.0,7.0,1,60
300,57,male,4,130,131,0,0,115,1,1.2,2,1.0,7.0,1,50
301,57,female,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1,50
302,38,male,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0,30

In [32]:
cp_dict = {
    1:"typical angina",
    2:"atypical angina",
    3:"non-anginal pain",
    4:"asymptomatic"
}
df["cp"] = df["cp"].map(cp_dict)

In [35]:
num_dict = {
    0:"absence",
    1:"presence"
}
df["num"] = df["num"].map(num_dict)

In [36]:
fbs_dict = {
    1:"yes",
    0:"no"
}
df["fbs"] = df["fbs"].map(fbs_dict)

In [39]:
df.to_csv("data/processed_heart_disease.csv", index=False)

In [40]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,floor_age
0,63,male,typical angina,145,233,NaN,2,150,0,2.3,3,0.0,6.0,absence,60
1,67,male,asymptomatic,160,286,NaN,2,108,1,1.5,2,3.0,3.0,presence,60
2,67,male,asymptomatic,120,229,NaN,2,129,1,2.6,2,2.0,7.0,presence,60
3,37,male,non-anginal pain,130,250,NaN,0,187,0,3.5,3,0.0,3.0,absence,30
4,41,female,atypical angina,130,204,NaN,2,172,0,1.4,1,0.0,3.0,absence,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,male,typical angina,110,264,NaN,0,132,0,1.2,2,0.0,7.0,presence,40
299,68,male,asymptomatic,144,193,NaN,0,141,0,3.4,2,2.0,7.0,presence,60
300,57,male,asymptomatic,130,131,NaN,0,115,1,1.2,2,1.0,7.0,presence,50
301,57,female,atypical angina,130,236,NaN,2,174,0,0.0,2,1.0,3.0,presence,50
302,38,male,non-anginal pain,138,175,NaN,0,173,0,0.0,1,NaN,3.0,absence,30